body {
  color: #67707F;
  font-family: Avenir Next Cyr !important;
  font-size: 14px;
  overflow-x: hidden; }

a {
  color: #67707F; }

li {
  list-style-type: none !important; }

ul {
  margin: 0 !important;
  padding: 0 !important; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important; }

.btn-link, .btn-link:hover {
  background-color: #E65F76;
  color: white;
  width: 140px;
  height: 40px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.btn-link:hover {
  background-color: #E65F76; }

.input-field {
  display: inline-block;
  width: 350px;
  height: 40px;
  border: 1px solid lightgray;
  padding: 0px 15px; }

.top-container {
  border-bottom: 1px solid #DFE3E8; }

.top-navbar {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0px;
  min-height: 40px;
  align-items: center; }
  .top-navbar li {
    list-style-type: none;
    margin-right: 40px; }
    .top-navbar li a {
      padding-left: 0px; }
    @media (max-width: 768px) {
      .top-navbar li {
        font-size: 16px;
        margin: 10px; } }

.menu {
  text-transform: uppercase;
  height: 80px;
  display: flex;
  align-items: center; }
  .menu__bage {
    display: inline-block;
    position: relative; }
    .menu__bage span {
      position: absolute;
      top: -2px;
      right: 2px;
      background-color: #E65F76;
      border-radius: 50%;
      color: white;
      font-size: 10px;
      padding: 0px 5px;
      font-weight: bold; }
  .menu__left {
    display: flex;
    align-items: center;
    justify-content: left; }
    .menu__left a {
      margin: 0px 30px; }
      @media (max-width: 992px) {
        .menu__left a {
          margin: 0px 15px; } }
    .menu__left > div {
      display: inline-block; }
      @media (max-width: 768px) {
        .menu__left > div {
          display: none; } }
    .menu__left .fa-bars {
      font-size: 22px;
      margin-top: 2px; }
    .menu__left a:hover .fa-bars {
      color: #E65F76; }
  .menu__right {
    text-align: right;
    padding-right: 0px; }
    .menu__right img {
      margin: 0 10px; }
      @media (max-width: 992px) {
        .menu__right img {
          margin: 5px; } }
  .menu__right {
    justify-content: right; }

.head {
  height: 600px;
  border: 2px solid #75dab0;
  background: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .head .navigation {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 100;
    line-height: 30px !important; }
    .head .navigation__title {
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 20px;
      display: block;
      font-size: 16px; }
  .head__item {
    max-width: 635px;
    margin-top: 70px; }
    .head__item span {
      font-size: 60px;
      color: #2B2D42;
      text-transform: uppercase; }
    .head__item p {
      font-size: 18px;
      margin: 40px 0px; }
      @media (max-width: 768px) {
        .head__item p {
          display: none; } }
    .head__item a, .head__item a:hover {
      width: 242px; }
      @media (max-width: 768px) {
        .head__item a, .head__item a:hover {
          margin: 30px; } }
  .head .slick-dots li button:before {
    font-size: 20px;
    margin: 10px 0px; }
  .head .slick-prev:before, .head .slick-next:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: relative; }
  .head .slick-prev:before {
    background-image: url("../img/arrow_left.svg");
    background-repeat: no-repeat;
    right: 30px; }
  .head .slick-next:before {
    background-image: url("../img/arrow_right.svg");
    background-repeat: no-repeat;
    left: 15px; }

.discount {
  margin-top: -80px;
  color: #2B2D42; }
  .discount__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px auto;
    max-width: 540px;
    min-height: 270px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #edf2f4;
    border: 2px solid #75dab0; }
    .discount__inner--left {
      background-image: url("../img/discount2.svg"); }
    .discount__inner--right {
      background-image: url("../img/discount1.svg"); }
    .discount__inner span {
      text-transform: uppercase;
      font-size: 48px; }
    .discount__inner p {
      font-size: 18px;
      line-height: 24px;
      margin: 15px 0px 0px 0px; }
    .discount__inner a {
      background-color: transparent;
      color: #E65F76;
      text-transform: uppercase;
      border: 1px solid #E65F76;
      font-weight: bold; }
    .discount__inner > div {
      margin-right: 20px; }

.coupons {
  margin-top: 80px; }
  .coupons__item {
    height: 400px;
    background-size: cover;
    background-position: center;
    border: 2px solid #75dab0;
    margin-top: 10px; }
    .coupons__item--left {
      background-image: url("../img/coupons1.svg"); }
    .coupons__item--right {
      background-image: url("../img/coupons2.svg"); }
  .coupons__inner {
    width: 330px;
    margin: 50px 0 0 40px; }
    .coupons__inner p {
      font-size: 24px;
      line-height: 36px;
      color: #2B2D42; }
    .coupons__inner .btn-link {
      width: 220px; }

.sale {
  margin-top: 60px; }
  .sale__item {
    height: 400px;
    position: relative; }
  .sale__img {
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #edf2f4; }
    .sale__img img {
      max-width: 215;
      max-height: 215; }
  .sale__name {
    margin: 15px 0 15px 0;
    line-height: 18px; }
    .sale__name span {
      color: black; }
  .sale__price {
    color: black;
    font-size: 18px;
    position: absolute;
    bottom: 0px; }
    .sale__price span {
      color: #67707F;
      font-size: 16px;
      text-decoration: line-through; }
  .sale__label {
    position: absolute;
    top: 0px;
    left: 0px; }
    .sale__label img {
      margin: 10px; }
  .sale .slick-prev:before, .sale .slick-next:before {
    color: black !important; }
  .sale__title {
    margin-bottom: 40px;
    align-items: center; }
    .sale__title span {
      font-size: 36px;
      line-height: 48px; }
    .sale__title a {
      color: #E65F76;
      margin-left: auto; }

.mailing {
  height: 240px;
  background: #edf2f4;
  border-top: 2px solid #75dab0;
  border-bottom: 2px solid #75dab0;
  margin-top: 80px; }
  .mailing__outer {
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: relative;
    height: 100%;
    font-size: 18px; }
    .mailing__outer .mailing__inner {
      max-width: 615px;
      right: 0px;
      top: 5%;
      margin: 20px;
      position: absolute; }
      .mailing__outer .mailing__inner p {
        font-size: 18px; }

.seo {
  border-bottom: 1px solid #DFE3E8; }
  .seo .seo__container {
    max-width: 730px;
    margin: auto;
    line-height: 24px;
    padding: 60px 0 90px 0; }

.footer {
  height: 380px;
  margin: 20px 0px; }
  .footer .footer__bottom {
    align-items: center;
    padding-bottom: 20px; }
  .footer__title {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    display: block; }
  .footer li a {
    line-height: 30px; }
  .footer__soc {
    margin-top: 20px; }
    .footer__soc a {
      margin-right: 20px; }
      .footer__soc a img {
        width: 20px;
        padding-top: 10px; }
