body{
  color: #67707F !important;
  font-family: Avenir Next Cyr !important;
  font-size: 14px !important;
  a{
    color: #67707F !important;
  }

  li{
    list-style-type: none !important;
  }
  ul{
    margin:0 !important;
    padding:0 !important;
  }
}


.top-container{
  border: 1px solid gray;
}

.top-navbar{
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0px;
  min-height: 40px;
  align-items: center;

  li{
    list-style-type: none;
    margin-right: 40px;
    a{
      padding-left: 0px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      margin: 10px;
    }
  }
}

.hr{
  height: 2px;
  border-bottom: 1px solid lightgray;
}

.main-menu{
  height: 80px;
  display: flex;
  align-items: center;;

  &__items > *{
    margin-right: 60px;
  }

  a{
    display: inline;
  }
}

.slider{
  height: 600px;
  background: url(../img/svg.svg);
  background-repeat: no-repeat;
  background-size: cover;

  > div{
    width: 600px;
  }

  @media (max-width: 768px) { 
    .display-3{
      font-size: 2.5rem;
    }
  }
}

.discount{
  &__block{
    border: 2px solid green;
    width: 500px;
    margin-top: -50px;
    height: 500px;
    background-color: #edf2f4;
    position: relative;
    img{
      position: absolute;
      left: 0px;
      bottom: 0px;
    }

    .discount__value{
      border: 2px solid #E65F76;
      padding: 10px 20px;
    }
  }
  
  // &__block1{
  //   background: url(../img/discount.svg);
  //   background-repeat: no-repeat;
  // }
  // &__block2{
  //   background: url(../img/discount2.svg);
  //   background-repeat: no-repeat;
  // }
}

.novelty{
  a{
    color:#E65F76;
  }
}

.novelty-stack{
  &__item{
    background-color: #edf2f4; 
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      display: block;
    }
  }
} 

.footer{
  height: 380px;
  margin: 20px 0px;

  .footer__bottom{
    align-items: center;
    padding-bottom: 20px;
  }

  &__title{
    text-transform: uppercase;
    font-weight: bold;
    padding-top:20px ;
    display: block;
  }

  &__soc{
    margin-top: 20px;
    a{
      margin-right:20px;
      img{
        width: 20px;
        padding-top: 10px;
      }
    }
  }

  @media (max-width: 1200px) {
    line-height: 26px;
  }
}