
@import "base.scss";

// .top-container{
//   border: 1px solid gray;
// }

// .top-navbar{
//   font-size: 14px;
//   line-height: 16px;
//   margin-bottom: 0px;
//   min-height: 40px;
//   align-items: center;

//   li{
//     list-style-type: none;
//     margin-right: 40px;
//     a{
//       padding-left: 0px;
//     }
//     @media (max-width: 768px) {
//       font-size: 16px;
//       margin: 10px;
//     }
//   }
// }

// .hr{
//   height: 2px;
//   border-bottom: 1px solid lightgray;
// }

// .main-menu{
//   height: 80px;
//   display: flex;
//   align-items: center;;

//   &__items > *{
//     margin-right: 60px;
//   }

//   a{
//     display: inline;
//   }
// }

// .slider{
//   height: 600px;
//   background: url(../img/svg.svg);
//   background-repeat: no-repeat;
//   background-size: cover;

//   > div{
//     width: 600px;
//   }

//   @media (max-width: 768px) { 
//     .display-3{
//       font-size: 2.5rem;
//     }
//   }
// }

// .discount{
//   &__block{
//     border: 2px solid green;
//     width: 500px;
//     margin-top: -50px;
//     height: 500px;
//     background-color: #edf2f4;
//     position: relative;
//     img{
//       position: absolute;
//       left: 0px;
//       bottom: 0px;
//     }

//     .discount__value{
//       border: 2px solid #E65F76;
//       padding: 10px 20px;
//     }
//   }
  
//   // &__block1{
//   //   background: url(../img/discount.svg);
//   //   background-repeat: no-repeat;
//   // }
//   // &__block2{
//   //   background: url(../img/discount2.svg);
//   //   background-repeat: no-repeat;
//   // }
// }

// .novelty{
//   a{
//     color:#E65F76;
//   }
// }

// .novelty-stack{ 
//   &__item{
//     background-color: #edf2f4; 
//     height: 350px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     img{
//       display: block;
//     }
//   }
// } 

// ----------------------------------------------------------

.menu{
  text-transform: uppercase;
  height: 80px;
  display: flex;
  align-items: center;
  
  &__left{ 
    a{
      margin: 0px 30px;
      
      @media (max-width: 1200px) { 
        margin: 0px 15px;
      }

      @media (max-width: 992px) { 
        display: block;
        margin-top: 4px;
      }
    }
  }

  &__right{
    img{
      margin: 0 20px;
      
      @media (max-width: 992px) { 
        margin: 5px;;
      }
    }
  }

  &__right{
    justify-content: right;
  }
}

.head{
  height: 600px;
  border: 2px solid #75dab0;
  background: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  &__item{
    max-width: 635px;
    margin-top: 70px;

    span{
      font-size: 60px;
      color: #2B2D42;
      text-transform: uppercase;
    }
  
    p{
      font-size: 18px;
      margin: 40px 0px;

      @media (max-width: 768px) { 
        display: none;
      }
    }
  
    a, a:hover{
      width: 242px;
      
      @media (max-width: 768px) { 
        margin: 30px;
      }
    }
  }
  
  .slick-dots li button:before
  {
      font-size: 20px;
      margin: 10px 0px;
  }

  .slick-prev:before, .slick-next:before { 
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
  }

  .slick-prev:before{
    background-image: url("../img/arrow_left.svg");
    background-repeat: no-repeat;
    right: 30px;
  }

  .slick-next:before{
    background-image: url("../img/arrow_right.svg");
    background-repeat: no-repeat;
    left: 15px;
  }

}

.discount{
  margin-top: -80px;
  color: #2B2D42;

  &__inner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px auto;
    max-width: 540px;
    min-height: 270px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: #edf2f4;
    border: 2px solid #75dab0;

    &--left{
      background-image: url("../img/discount2.svg");
    }

    &--right{
      background-image: url("../img/discount1.svg");
    }

    span{
      text-transform: uppercase;
      font-size: 48px;
    }

    p{
      font-size: 18px;
      line-height: 24px;
      margin: 15px 0px 0px 0px;
    }

    a{
      background-color: transparent;
      color: #E65F76;
      text-transform: uppercase;
      border: 1px solid #E65F76;
      font-weight: bold;
    }

    > div{
      margin-right: 20px;
    }
  }
}

.coupons{
  margin-top: 80px;

  &__item{
    height: 400px;
    background-size: cover;
    background-position: center;
    border: 2px solid #75dab0;
    margin-top: 10px;

    &--left{
      background-image: url("../img/coupons1.svg");
    }

    &--right{
      background-image: url("../img/coupons2.svg");
    }
  }

  &__inner{
    width: 330px;
    margin: 50px 0 0 40px;

    p{
      font-size: 24px;
      line-height: 36px;
      color: #2B2D42;
    }

    .btn-link{
      width: 220px;
    }
  }
}

.sale{
  margin-top: 60px;

  &__item{
    height: 400px;
    position: relative;
  }

  &__img{
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #edf2f4;

    img{
      max-width: 215;
      max-height: 215;
    }
  }

  &__name{
    margin: 15px 0 15px 0;
    line-height: 18px;

    span{
      color: black;
    }
  }

  &__price{
    color: black;
    font-size: 18px;
    position: absolute;
    bottom: 0px;

    span{
      color: #67707F;
      font-size: 16px;
      text-decoration:line-through;
    }
  }

  &__label{
    position: absolute;
    top: 0px;
    left: 0px;
    img{
      margin: 10px;
    }
  }

  .slick-prev:before, .slick-next:before { 
    color:black !important;
  }

  &__title{
    margin-bottom: 40px;
    align-items: center;

    span{
      font-size: 36px;
      line-height: 48px;
    }
    
    a{
      color:#E65F76;
      margin-left: auto;
    }
  }
}

.mailing{
  height: 240px;
  background: #EDF2F4;
  border-top: 2px solid #75dab0;
  border-bottom: 2px solid #75dab0;
  margin-top: 80px;

  &__outer{
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: relative;
    height: 100%;
    font-size: 18px;

    .mailing__inner{
      max-width: 615px;
      right: 0px;
      top: 5%;
      margin: 20px;
      position: absolute;
      p{
        font-size: 18px;
      }
    }
  }
}

.seo{
  border-bottom: 1px solid #DFE3E8;

  .seo__container{
    max-width: 730px;
    margin: auto;
    line-height: 24px;
    padding: 60px 0 90px 0;
  }
}

.footer{
  height: 380px;
  margin: 20px 0px;

  .footer__bottom{
    align-items: center;
    padding-bottom: 20px;
  }

  &__title{
    text-transform: uppercase;
    font-weight: bold;
    padding-top:20px ;
    display: block;
  }

  li a{
    line-height: 30px;
  }

  &__soc{
    margin-top: 20px;
    a{
      margin-right:20px;
      img{
        width: 20px;
        padding-top: 10px;
      }
    }
  }
}